:root {
  --primary-color: rgb(15, 12, 30);
  --secondary-color: rgb(156, 234, 181);
  --header-font: Georgia, "Times New Roman", Times, serif;
  --secondary-font: "Sarabun", sans-serif;
}

.navbar-brand {
  font-family: "Satisfy", cursive;
}

.nav-link {
  font-family: var(--secondary-font);
}

.body {
  background: var(--primary-color);
}

p {
  font-family: var(--secondary-font);
  font-size: 18px;
  color: white;
}

.hero {
  text-align: left;
  background: var(--secondary-color);
  padding: 100px 130px 60px;
}

.hero h1 {
  font-size: 96px;
  font-family: var(--header-font);
  font-weight: 800;
}

.hero h2 {
  font-size: 25px;
  font-family: var(--secondary-font);
}

.hero .btn-contact {
  background: var(--primary-color);
  padding: 10px 15px;
  font-size: 18px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 2.3px 4.6px 4.6px rgba(0, 0, 0, 0.43);
  color: white;
}

.hero .btn-contact:hover {
  background: white;
  color: black;
  border: 2px solid black;
}

.outside-container-p {
  font-size: 25px;
}

.project-container h2 {
  font-family: var(--header-font);
  font-size: 40px;
  color: white;
}

.project-container .btn-in-container {
  background: var(--secondary-color);
  padding: 10px 15px;
  font-size: 18px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 2.3px 4.6px 4.6px rgba(255, 255, 255, 0.43);
  border: 2px solid white;
}

.project-container .btn-in-container:hover {
  background: white;
}

.row {
  padding: 30px;
}

img {
  border-radius: 5px;
  box-shadow: 2.3px 4.6px 4.6px rgba(0, 0, 0, 0.43);
}

.image-1 {
  border: 20px solid rgb(214, 172, 247);
}

.image-2 {
  border: 20px solid var(--secondary-color);
}

.image-3 {
  border: 20px solid rgb(172, 205, 247);
}

.information-container {
  text-align: left;
  background: var(--secondary-color);
  padding: 100px 130px 60px;
}

.information-container h1 {
  font-size: 96px;
  font-family: var(--header-font);
  font-weight: 800;
}

.about-me-space {
  padding: 15px 30px 30px;
}

.information-container p {
  font-size: 18px;
  color: var(--primary-color);
  font-family: var(--secondary-font);
}

.information-container .btn-view-projects {
  background: var(--primary-color);
  padding: 10px 15px;
  font-size: 18px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 2.3px 4.6px 4.6px rgba(0, 0, 0, 0.43);
  color: white;
}

.information-container .btn-view-projects:hover {
  background: white;
  color: black;
  border: 2px solid black;
}

.information-container img {
  border: 2px solid var(--primary-color);
}

.information-container a {
  text-decoration: none;
  color: var(--primary-color);
}

.information-container a:hover {
  color: white;
}

.contact-page img {
  max-width: 60%;
}

footer {
  border-top: solid 1px rgb(255, 255, 255, 0.75);
}

footer h4 {
  font-size: 36px;
  font-family: var(--header-font);
  margin-bottom: 0;
}

footer p {
  margin-bottom: 0;
  font-family: var(--secondary-font);
}

footer .work-inquiry {
  color: white;
}

.work-inquiry .btn-contact {
  background: var(--secondary-color);
  padding: 10px 15px;
  font-size: 18px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 2.3px 4.6px 4.6px rgba(255, 255, 255, 0.43);
  border: 2px solid white;
}

.work-inquiry .btn-contact:hover {
  background: white;
  color: black;
  border: 2px solid black;
}

.email-link a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.email-link a:hover {
  color: var(--secondary-color);
}

.social-links a {
  color: black;
  margin: 0 20px;
  background-color: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
}

.social-links a:hover {
  background: white;
}

footer .work-inquiry-secondary {
  color: black;
}

footer .btn-contact-dark {
  background: var(--primary-color);
  padding: 10px 15px;
  font-size: 18px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 2.3px 4.6px 4.6px rgba(0, 0, 0, 0.43);
  color: white;
}

footer .btn-contact-dark:hover {
  background: white;
  color: black;
  border: 2px solid black;
}

.email-link-secondary a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.email-link-secondary a:hover {
  color: white;
}

.social-links-secondary a {
  color: white;
  margin: 0 20px;
  background-color: var(--primary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
}

.social-links-secondary a:hover {
  background: white;
  color: black;
}

@media (max-width: 575px) {
  .hero {
    text-align: center;
    padding: 100px 5px 60px;
  }
  .hero h1 {
    font-size: 45px;
  }
  .footer-coded-statement {
    padding: 0 20px;
  }
}

@media (max-width: 767px) {
  .project-container {
    text-align: center;
  }
  .project-container .responsive-margin {
    margin-top: 75px;
  }
}

@media (max-width: 800px) {
  .information-container {
    text-align: center;
    padding: 100px 5px;
  }
  .information-container h1 {
    font-size: 45px;
  }
  .contact-page img {
    max-width: 75%;
  }
}
