:root {
  --primary-color: rgb(15, 12, 30);
  --secondary-color: rgb(156, 234, 181);
  --header-font: Georgia, "Times New Roman", Times, serif;
  --secondary-font: "Sarabun", sans-serif;
}

.navbar-brand {
  font-family: "Satisfy", cursive;
}

.nav-link {
  font-family: var(--secondary-font);
}

main {
  background-color: var(--primary-color);
}

p {
  font-family: var(--secondary-font);
  font-size: 18px;
  color: white;
}

.hero {
  text-align: left;
  background: var(--secondary-color);
  padding: 100px 130px 60px;
}

.hero h1 {
  font-size: 96px;
  font-family: var(--header-font);
  font-weight: 800;
}

.hero h2 {
  font-size: 25px;
  font-family: var(--secondary-font);
}
.hero .btn-contact {
  background: var(--primary-color);
  padding: 10px 15px;
  font-size: 18px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 2.3px 4.6px 4.6px rgba(0, 0, 0, 0.43);
  color: white;
}

.hero .btn-contact:hover {
  background: white;
  color: black;
  border: 2px solid black;
}

.outside-container-p {
  font-size: 25px;
}

.project-container h2 {
  font-family: var(--header-font);
  font-size: 40px;
  color: white;
}
.project-container .btn-in-container {
  background: var(--secondary-color);
  padding: 10px 15px;
  font-size: 18px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 2.3px 4.6px 4.6px rgba(255, 255, 255, 0.43);
  border: 2px solid white;
}

.project-container .btn-in-container:hover {
  background: white;
}

.row {
  padding: 30px;
}

img {
  border-radius: 5px;
  box-shadow: 2.3px 4.6px 4.6px rgba(0, 0, 0, 0.43);
}
.image-1 {
  border: 20px solid rgb(214, 172, 247);
}
.image-2 {
  border: 20px solid var(--secondary-color);
}
.image-3 {
  border: 20px solid rgb(172, 205, 247);
}

.information-container {
  text-align: left;
  background: var(--secondary-color);
  padding: 100px 130px 60px;
}

.information-container h1 {
  font-size: 96px;
  font-family: var(--header-font);
  font-weight: 800;
}

.information-container p {
  font-size: 18px;
  color: var(--primary-color);
  font-family: var(--secondary-font);
}
.information-container .btn-view-projects {
  background: var(--primary-color);
  padding: 10px 15px;
  font-size: 18px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 2.3px 4.6px 4.6px rgba(0, 0, 0, 0.43);
  color: white;
}

.information-container .btn-view-projects:hover {
  background: white;
  color: black;
  border: 2px solid black;
}

.information-container img {
  border: 2px solid var(--primary-color);
}
.information-container a {
  text-decoration: none;
  color: var(--primary-color);
}
.information-container a:hover {
  color: white;
}

@media (max-width: 575px) {
  .hero {
    text-align: center;
    padding: 100px 5px;
  }
  .hero h1 {
    font-size: 45px;
  }
}
@media (max-width: 767px) {
  .information-container {
    text-align: center;
  }
  .information-container .responsive-margin {
    margin-top: 75px;
  }
}

@media (max-width: 800px) {
  .information-container {
    text-align: center;
    padding: 100px 5px;
  }
  .information-container h1 {
    font-size: 45px;
  }
}
